@import url(./resets.css);
@import url(../accets/fonts/worksans/worksans.css);

.wrapper {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  padding: 24px 0px 24px 0px;
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
  background: rgb(255, 255, 255);
  z-index: 10;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
  }
  &__logo-img {
  }
  &__menu {
    color: rgb(20, 43, 53);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__menu-links {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__menu-item {
  }
  &__btn-box {
    display: none;
  }
  &__menu-btn {
    display: none;
  }
  &__contact {
    display: flex;
    align-items: center;
    gap: 24px;
    color: rgb(20, 43, 53);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__contact-box {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__contact-img {
  }

  &__contact-number {
  }

  &__contact-btn {
  }
  &__contact-btn:hover {
    border-radius: 5px;
    background: rgb(50, 139, 164);
  }
  &__contact-burger-btn {
    display: none;
    width: 34px;
    height: 34px;
    position: relative;
  }
  &__contact-burger-span {
    width: 100%;
    height: 1.5px;
    position: absolute;
    left: 0;
    background-color: rgb(20, 43, 53);
    border-radius: 3px;
    transition: opacity 0.33s, transform 0.33s;
  }
  &__contact-burger-span:nth-child(1) {
    transform: translateY(-7px);
  }
  &__contact-burger-span:nth-child(3) {
    transform: translateY(7px);
  }
}

.header.open .header__contact-burger-span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.open .header__contact-burger-span:nth-child(2) {
  opacity: 0;
}
.header.open .header__contact-burger-span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.contact-btn {
  padding: 16px 20px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 5px;
  background: rgb(58, 152, 178);
  transition: all 0.33s;
}

.section__span {
  color: rgb(115, 134, 151);
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 167.3%;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}

// ABOUT
.about {
  width: 100%;
  height: 687px;
  position: relative;
  background-image: url(../accets/img/shutterstock-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
  &__bg-mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(55, 46, 46, 0.4);
    z-index: 1;
  }
  &__wrapper {
    height: 100%;
    flex-direction: column;
    align-items: start;
    z-index: 2;
  }
  &__heading {
    width: 100%;
    max-width: 672px;
    margin-top: 27%;
    padding-left: 31px;
    border-left: 2px solid rgb(242, 185, 29);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    z-index: 2;
  }
  &__text {
    width: 100%;
    max-width: 526px;
    margin-top: 16px;
    padding-left: 31px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
    z-index: 2;
  }
}

.services {
  margin-top: 80px;
  &__wrapper {
    display: block;
    flex-direction: column;
    align-items: center;
  }
  &__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    margin-top: 8px;
    color: rgb(20, 43, 53);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 500;
    line-height: 167.3%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;
  }
  &__subheading {
  }
  &__text {
    margin-top: 17px;
    width: 100%;
    max-width: 442px;
    color: rgb(91, 110, 118);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: center;
  }

  &__items {
    width: 100%;
    margin-top: 40px;
  }

  &__items-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    // overflow: hidden;
  }

  &__track--active {
  }
  &__item {
    width: 429px;
    // height: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0px 56px 0px;
    box-shadow: 1px 1px 12px 0px rgba(71, 71, 71, 0.03);
    background: rgb(255, 255, 255);
    cursor: pointer;
    margin-right: 0px;
    z-index: 10;
  }
  &__item-heading {
    margin-top: 24px;
    color: rgb(20, 43, 53);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 167.3%;
    letter-spacing: -1%;
    text-align: left;
    transition: all 0.33s;
  }
  &__item-heading:hover {
    color: rgb(58, 152, 178);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 167.3%;
    letter-spacing: -1%;
    text-align: left;
  }
  &__item-text {
    margin-top: 15px;
    width: 100%;
    max-width: 280px;
    color: rgb(91, 110, 118);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: center;
  }
  &__slider-btns {
  }
  &__slider-btn-next {
  }
  &__slider-btn-prev {
  }
}

// CONTACT
.contact {
  margin-top: 80px;
  &__wrapper {
    margin-bottom: 80px;
    align-items: center;
    justify-content: space-between;
  }
  &_left-side {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &_left-side {
  }
  &_left-side {
  }

  &__span {
  }

  &__subheading {
    margin-top: 8px;
    color: rgb(20, 43, 53);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 157.3%;
    letter-spacing: -1%;
    text-align: left;
    text-transform: uppercase;
  }

  &__text {
    width: 100%;
    max-width: 720px;
    margin-top: 16px;
    color: rgb(91, 110, 118);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  &__item {
    padding-left: 40px;
    color: rgb(91, 110, 118);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 24px 24px;
  }
  &__item:nth-child(1) {
    background-image: url(../accets/icons/map-mark.svg);
  }
  &__item:nth-child(2) {
    background-image: url(../accets/icons/map-mark.svg);
  }
  &__item:nth-child(3) {
    background-image: url(../accets/icons/phone-green.svg);
  }

  &__rigth-side {
  }
  &__form {
    width: 100%;
    min-width: 548px;
    padding: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 12px 0px rgba(71, 71, 71, 0.06);
    background: rgb(255, 255, 255);
  }
  &__form-heading {
    color: rgb(20, 43, 53);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
  }
  &__form-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  &__form-lable {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &__form-span {
    color: rgb(91, 110, 118);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
  }
  &__form-span--color {
    color: rgb(242, 185, 29);
  }
  &__form-input {
    margin-top: 8px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 4px;
  }
  &__form-textarea {
    margin-top: 8px;
    width: 100%;
    height: 73px;
    box-sizing: border-box;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 4px;
  }
  &__form-btn {
    margin-top: 32px;
    padding: 14px 24px;
    border-radius: 5px;
    background: rgb(242, 185, 29);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
  }
}
// MAP
.map {
  height: 600px;
}

// BLOG
.blog {
  width: 100%;
  margin-top: 128px;
  background: rgb(255, 255, 255);
  &__wrapper {
    width: 100%;
    margin-bottom: 80px;
    display: block;
    flex-direction: column;
    align-items: start;
  }
  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__top-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  &__span {
    color: rgb(115, 134, 151);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 167.3%;
    letter-spacing: 10%;
    text-align: center;
  }
  &__heading {
    color: rgb(20, 43, 53);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 157.3%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;
  }
  &__top-btn {
    padding: 14px 24px;
    color: rgb(58, 152, 178);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: 1px solid rgb(58, 152, 178);
    border-radius: 5px;
  }
  &__cards {
    margin-top: 40px;
  }
  &__card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__card {
    width: 429px;
    height: 501px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  &__card-top {
    width: 100%;
  }
  &__card-img {
    width: 100%;
    height: 295px;
  }
  &__card-content {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &__card-span {
    color: rgb(91, 110, 118);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__card-heading {
    color: rgb(20, 43, 53);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 167.3%;
    letter-spacing: -1%;
    text-align: left;
  }
  &__card-heading:hover {
    color: rgb(58, 152, 178);
    transition: 0.33s;
  }
  &__card-description {
    max-width: 381px;
    color: rgb(91, 110, 118);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 167.3%;
    letter-spacing: 0%;
    text-align: left;
  }
}

// FOOTER

.footer {
  width: 100%;
  padding: 40px 0px 0px 0px;
  color: rgb(20, 43, 53);
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 167.3%;
  letter-spacing: 0%;
  text-align: left;
  background: rgb(252, 253, 254);
  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8.5px 0px 40px 0px;
    gap: 8px;
    border-top: 1px solid rgb(224, 224, 224);
  }
  &__box {
  }
  &__span {
  }
}

.servicesSwiper {
  // height: 500px;
}

.mySwiper {
  height: 510px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: rgb(242, 185, 29);
}

@media (max-width: 1440px) {
  .wrapper {
    max-width: 1280px;
  }
  .services {
    &__items {
      height: 530px;
    }
    &__items-wrapper {
      display: flex;
    }
  }
  .blog {
    &__card-wrapper {
      display: flex;
      // grid-template-columns: repeat(2, 1fr);
    }
    &__card {
      // width: 429px;
      // height: 501px;
    }
  }
}

@media (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
  .header {
    &__menu-links {
      gap: 15px;
    }
  }
}

@media (max-width: 1100px) {
  .wrapper {
    width: 950px;
  }
  .header {
    &__menu {
      overflow: hidden;
      width: 100%;
      height: 470px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: -100%;
      top: 100px;
      padding: 56px 16px 32px 16px;
      background: rgb(245, 245, 245);
      background-size: cover;
      z-index: 3;
      transition: transform 0.5s, visibility 0.5s;
    }
    &__menu-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 24px;
      font-size: 20px;
    }
    &__btn-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__menu-btn {
      display: block;
    }

    &__contact-img {
      width: 22.07px;
      height: 21.59px;
    }
    &__contact-number {
      display: none;
    }
    &__contact-btn {
      display: none;
    }
    &__contact-burger-btn {
      display: block;
    }
  }
  .header.open .header__menu {
    transform: translateX(100%);
  }
  .contact {
    &__wrapper {
      flex-direction: column;
      gap: 32px;
    }
    &__form {
      width: 240px;
    }
  }
  .footer {
    &__wrapper {
      flex-direction: column;
      align-items: start;
    }
    &__box {
      flex-direction: column;
      align-items: start;
    }
  }
}

@media (max-width: 992px) {
  .wrapper {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 550px;
  }

  .header {
    &__logo-img {
      width: 134px;
      height: 36px;
    }
    &__menu {
      top: 80px;
    }
  }
  .about {
    &__heading {
      margin-top: 57%;
    }
  }

  .services {
    &__items {
      height: 400px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .contact {
    &__form {
      min-width: 400px;
    }
  }
  .map {
    height: 400px;
  }

  .footer {
    padding: 40px 0px 40px 0px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    width: 350px;
  }

  .header {
    &__wrapper {
      width: 450px;
    }
  }

  .services {
    &__items {
      grid-template-columns: 1fr;
    }
  }

  .blog {
    &__top {
      flex-direction: column;
      align-items: start;
      gap: 32px;
    }
    &__card-wrapper {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 376px) {
  .wrapper {
    width: 300px;
  }

  .header {
    height: 82px;
  }

  .about__heading {
    margin-top: 100%;
  }

  .services {
    &__items {
      grid-template-columns: 1fr;
    }
    &__item {
      padding: 32px 0px 32px 0px;
    }
    &__text {
      max-width: 271px;
    }
  }
  .contact {
    &__form {
      min-width: 280px;
      padding: 15px;
    }
    &__form-line {
      flex-direction: column;
    }
  }
  .map {
    height: 245px;
  }
}

@media (max-width: 376px) {
  .wrapper {
    width: 300px;
  }

  .header {
    &__menu {
      top: 81px;
    }
  }
}
